.cartView {

}
.totalSum {
    font-weight: 700;
    font-size: 24px;
}

.delete-product-button {

}

@media (min-width: 961px) {
    .quantity {
        float: right;
    }
    .productSum {
        float: right;
        padding-top: 60px;
    }
    .totalSum {
        float: right;
    }
    .delete-product-button {
        float: right;
        margin: -4% 0 0 0;
    
    }
}
