.cartView {

}
.totalSum {
    font-weight: 700;
    font-size: 24px;
}


@media (min-width: 961px) {
    .quantity {
        float: right;
    }
    .productSum {
        float: right;
        padding-top: 60px;
    }
    .totalSum {
        float: right;
        height: 40px;
    }
    .delete-product-button {
        float: right;
        margin: -4% 0 0 0;

    }
    .order-btn {
        float: right;
        margin-top: 20px;
    }
}
