.mini-photo {
    width: 100px;
    height: 100px;
}
.price {
    color: grey;
    margin-left: 5px;
}

.name {
    font-weight: 800;
}

.available {
    color: green;
}

.unavailable {
    color: red;
}

@media (min-width: 320px) {


}

@media (min-width: 961px) {
    .name {
        font-size: 24px;
    }
    .show-product-button {
        float: right;
        margin: -4% 0 0 0;
    }

}

@media (min-width: 1024px) {
    .price {
        margin-left: 10px;
    }
}
